.DS_Store
*.log
*.svn
.idea*
*.pyc
*.class
*.out
*.xls
*.xlsx
*.csv
*nohup.*
tags
php/BISystem/public/xls
python/BISystem/data
java/LoveFly/out
python/ticketScrapy/build/
python/lfpy/build/
python/lfpy/lfpy/lfpy.egg-info/
python/tools/test
java/LoveFly/LoveFly.iml
java/PubService/out/
java/PubService/PubService.iml
java/LfapiPlus/out
python/LFBookService/TEST.HTML
python/LFBookService/pay3.html
python/qunarOrder/tools/test.png
python/qunarOrder/tools/*.xml
python/FlightPolicy/*.zip
python/FlightPolicy/*.xml
python/PromoScrapy/PromoScrapy/spiders/img/
php/b2c/web/Runtime
python/BISystem/datacollect/*.png
python/qunarOrder/test.png
python/qunarOrder/scrapy/test.png
python/Hotel/qunarstaticdata.xml
